{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block class %}home{% endblock %}
{% block content %}
<div class="corpo">
    <img src="../static/public/capa.png" alt="capa do projeto" id="capa">
    <h1 class="texto">Sobre a Universidade</h1>
    <p class="texto">Lorem, <strong>ipsum dolor</strong> sit amet consectetur adipisicing elit. Vitae voluptatum accusantium neque aliquid sed nulla, ipsa nam repellendus aliquam qui laboriosam laudantium quam ducimus odit natus voluptates quo beatae odio! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia maxime nisi minima labore sit qui quos, provident autem omnis perspiciatis vel eligendi quaerat a repudiandae aspernatur! Vitae ratione porro dolores!<br>Lorem <strong>ipsum dolor</strong> sit amet consectetur, adipisicing elit. Distinctio excepturi sint consequuntur magni maiores hic itaque consequatur quidem a. Aliquid quasi sit esse recusandae voluptatum sunt, possimus repellat. Numquam, laudantium. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur neque asperiores sed fuga obcaecati repellendus numquam nulla amet voluptatibus a impedit earum animi, expedita laudantium distinctio error ea iure porro.</p>
</div>
{% endblock %}