{% extends "base.html" %}
{% block title %}Quem somos{% endblock %}
{% block class %}quem-somos{% endblock %}
{% block content %}
<h1>Quem Somos</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas incidunt dolorum ad consectetur at tempore doloremque eligendi maiores, ea labore iste reiciendis recusandae aperiam, odit minima. Cum esse non vitae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam veniam harum, assumenda culpa hic repellat beatae animi quo? Atque alias eligendi doloribus quas aliquam cumque beatae excepturi amet nam dolor! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi molestiae aspernatur voluptas corporis quibusdam at in officiis? Obcaecati optio quidem repellat veniam eos, officiis modi! Sapiente, optio praesentium. Aspernatur, consequuntur!</p>
    <h2>5 motivos para estudar</h2>
    <ol type="1">
        <li>Material sempre atualizado</li>
        <li>Tablets em sala de aula</li>
        <li>Professores renomados</li>
        <li>Universidade bem avaliada</li>
        <li>Ótima localização</li>
    </ol>
    <hr>
    <h2>Objetivos</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas maxime labore laboriosam quis, velit sed ipsum natus animi eum reiciendis esse. Nam molestiae aut repudiandae provident consequatur libero corrupti earum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, molestias perferendis excepturi illum explicabo laborum et aut accusantium recusandae rem veritatis consequatur sapiente, tenetur inventore harum vitae ad corporis ab?</p>
{% endblock %}